/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-white:rgb(255, 255, 255);
	--color-orange: #ff6e0c;
	--color-pink: #f20c90;
	--color-background: rgb(239, 239, 239);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
}

ul {
	list-style: none;
}

ol, ul {
	padding-left: 0;
}

a{
	text-decoration: none;
}

h1, h2, h3, a {
	font-family: omnes-pro,sans-serif;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1em;
	margin-bottom: 0.3em;
}

h2 {
	font-size: 3.5em;
	color: var(--color-white);

}

p {
	font-family: omnes-pro,sans-serif;
	font-weight: 500;
	font-style: normal;
}

main a:last-child, footer nav a {
	display: block;
	font-size: 1.2em;
	border-radius: 3em;
	text-align: center;
	background-color: var(--color-orange);
	color: var(--color-white);
	padding: 0.9em 1.9em;
}

/* header */

nav{
	margin-bottom: 1em;
}

nav div {
	display: flex;
	justify-content: space-between;
}

nav div > img{
	width: 10em;
}

nav div a img {
	width: 2em;
}

nav ul {
	/* display: none; */
}

/* main */

main {
	padding: 1em;
}

/* We Love Coffee image */

main > article:first-child {
	background-image: url("../images/background_coffee.svg");
	background-color: rgb(210, 184, 143);
	background-size: cover;
	position: relative;
	height: 23em;
	overflow: hidden;
	border-radius: 1em;
	padding: 1em;
}

main > article:first-child img{
	width: 10em;
	position: absolute;
	display: block;
	bottom: -9em;
}

/* https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
main > article:first-child img:nth-of-type(2) {
	z-index: 1;
	width: 11em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

main > article:first-child img:nth-of-type(3) {
	right: 0;
}




/* Bestel */

main > article:nth-child(2) {
	background-color: var(--color-pink);
	border-radius: 1em;
	padding: 1em;
	color: var(--color-white);
}

main > article:nth-child(2) h2 {
	/* text-align: center; */
	/* margin-top: 0; */
	/* margin-bottom: 0; */
}

main > article:nth-child(2) div {
	display: flex;
	justify-content: space-evenly;
}

main > article:nth-child(2) div a {
	padding: 0.5em 1em;
	background-color: var(--color-white);
	color: var(--color-pink);
	border-radius: 0.5em;
}


/* Bestel Dunkin Online */

 main > article:nth-child(3) li {
	background-color: white;
	position: relative;
	height: 7rem;
	margin-top: 1rem;
	padding: 1em;
	border-radius: 1em;
}

 main > article:nth-child(3) img {
	background-color: var(--color-pink);
	border-radius: 50%;
	padding: 0.9em;
	width: 4em;
	position: absolute;
}

main > article:nth-child(3) article{
	position: absolute;
	right: 0;
	width: 18em;
	text-align: left;
}

main > article:nth-child(3) article h3{
	text-align: left;
} 

/*
ol li::marker {
	font-family: omnes-pro,sans-serif;
	font-weight: 900;
	font-style: normal;
}

main > article:nth-child(3) ol li {
	display: grid;
	grid-template-columns: 5em 1fr;
	grid-template-rows: 1fr 1fr;
}

main > article:nth-child(3) ol li h3 {
	grid-column: 2;
	font-size: 1.5em;
	margin-bottom: 0;
}

main > article:nth-child(3) ol li p {
	margin-top: 0;
} */

/* main > article:nth-child(3) a {
	display: block;
	font-size: 1.2em;
	border-radius: 3em;
	text-align: center;
	background-color: var(--color-orange);
	color: var(--color-white);
	padding: 0.9em 1.9em;
} */


/* app */
main > article:nth-child(4) {
	background-color: #71c5e8;
	text-align: center;
	position: relative;
	height: 40em;
	overflow: hidden;
	padding: 2em;
	border-radius: 1em;
}

main > article:nth-child(4) h2 {
	padding: 0 0.4em;
}

main > article:nth-child(4) h3 {
	color: var(--color-white);
}

main > article:nth-child(4) p {
	color: var(--color-white);
}

/* main > article:nth-child(4) a {
	background-color: transparent;
	font-size: 1em;
	padding: 0;
} */

main > article:nth-child(4) a img {
	width: 15em;
	margin: 0.5em 0.5em;
}

main > article:nth-child(4) > img {
	position: absolute;
	width: 55em;
	left: -15em;
}


/* cloud cake */

main > article:nth-child(5) {
	/* position: relative; */
	/* border: #111 solid; */
	overflow: hidden;
	/* padding: 1em; */
	position: relative;
}

main > article:nth-child(5) h2 {
	margin-top: 1em;
	font-size: 2em;
	text-align: left;
	color: var(--color-orange);
}

main > article:nth-child(5) p {
	color: #aaa;
	font-size: 1.2em;
}

main > article:nth-child(5) img:first-child{
	/* position: relative;
	left: -5em; */
	/* padding: 0 1em; */
	width: 100%;
	border-radius: 2em;
}

main > article:nth-child(5) img:nth-child(2) {
	background-color: var(--color-pink);
	border-radius: 50%;
	padding: 1em;
	width: 5.5em;
	position: absolute;
	right: 1em;
	top: 21em;
}

/* blog posts */

section div {
	display: flex;
	overflow: scroll;
	gap: 1em;
}

section article {
	border: rgba(170, 170, 170, 0.1) solid 3px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	text-align: left;
	border-radius: 1em;
	/* white-space: nowrap;
  	overflow: hidden; */
}

/* all image border radius? */
section img{
	width: 19em;
	border-radius: 1em;
	text-align: center;
	align-self: center;

}

/* border radius veel gebruikt */
section p {
	background-color: var(--color-pink);
	font-weight: 900;
	color: var(--color-white);
	width:fit-content;
	padding: 0.5em 1em;
	border-radius: 2em;
}

section article:nth-of-type(odd) p {
	background-color: var(--color-orange);
}

/* https://css-tricks.com/line-clampin/ */
section h3 {
	text-align: left;
	text-transform: none;
	height: 3em;
	color: #512d00;
	font-size: 1.45em;
	line-height: 1em;
	/* white-space: normal; */

  	overflow:hidden;
	display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* store finder */

/* padding op alle articles? */
main > article:last-child{
	text-align: center;
	background-color: var(--color-pink);
	border-radius: 1em;
	padding: 1em;
}

main > article:last-child div{
	position: relative;
	/* border: solid black; */
}

main > article:last-child img:nth-of-type(1) {
	width: 19em;
	border-radius: 50%;
	border: white solid 0.6em;
}

/* badge ook in footer */
main > article:last-child img:nth-of-type(2) {
	position: absolute;
	background-color: var(--color-white);
	border-radius: 50%;
	width: 6em;
	right: 0;
	transform: rotate(-20deg);
	box-shadow: 0.1em 0.1em 1em rgb(167, 167, 167);
}

main > article:last-child p {
	color: white;
	font-weight: 900;
	font-size: 1.2em;
	width: 9em;
	margin: 1em auto;
}

main > article:last-child a:last-child {
	background-color: var(--color-white);
	color: var(--color-pink);
	width: 12em;
	font-size: 1em;
	display: inline-block;
	padding: 1em 1em;
}

footer {
	/* background-color: var(--color-orange); */
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 5em;
}

footer nav {
	background-color: var(--color-orange);
	padding-top: 7em;
	padding-bottom: 4em;
	width: 100%;
}

footer nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer nav a {
	background-color: rgba(232,64,46,.75);
	width: 16em;
	/* margin: auto; */
}

/* badge */
footer > img {
	background-color: white;
	border-radius: 50%;
	width: 10em;
	position: absolute;
	top: -5em;
}

footer div {
	position: absolute;
	bottom: 1em;
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}

footer div a {
	background-color: white;
	border-radius: 100%;
	padding: 0.9em;
	width: 3.5em;
	height: 3.5em;
	overflow: hidden;
}

footer div img {
	/* background-color: white;
	border-radius: 100%;
	padding: 0.9em;
	width: 2.5em; */
	width: 1.5em;
}